<div ng-cloak class="sentiment">
    <div class="row">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label for="textToSentimentAnalyzis" class="col-sm-2 control-label" translate="sentiment.text">Text to analyzis</label>
                <div class="col-sm-10">
                    <textarea id="textToSentimentAnalyzis" ng-model="text"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="quantityAnalyze()"
                            translate="sentiment.analyze.quantity">Analyze by quantity
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="classifierAnalyze()"
                            translate="sentiment.analyze.classifier">Analyze by classifier
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="deepAnalyze()"
                            translate="sentiment.analyze.deep">Analyze by deep learning
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row" ng-show="response">
        <div class="col-md-2"><h3 translate="sentiment.response">Response:</h3></div>
        <div class="col-md-10">
            <pre>
                {{response}}
            </pre>
        </div>
    </div>
    <div class="row" ng-show="response">
        <div class="col-md-12">
            <p>Analysis type: {{responseType}}</p>
        </div>
    </div>
</div>
